@{
    ViewData["Title"] = "Sobre mim";
}

<section class="position-relative">
    @* Links rápidos esquerda *@
    <div orientation="left" class="side_linkrapido d-none d-mb-block d-lg-block">
        <ul class="social_link">
        <li class="d-flex">
            <a href="https://api.whatsapp.com/send?phone=5562985261191&text=Ol%C3%A1%20Peterson!%20Poderia%20me%20ajudar%3F">
                <h3 class="icon-whatsapp"></h3>
            </a>
        </li>
        <li class="d-flex">
            <a href="https://www.instagram.com/petersondemacedo/">
                <h3 class="icon-instagram"></h3>
            </a>
        </li>
        <li class="d-flex">
            <a href="https://github.com/petersonmdev/">
                <h3 class="icon-github-circled"></h3>
            </a>
        </li>
        <li class="d-flex">
            <a href="https://www.linkedin.com/in/peterson-macedo">
                <h3 class="icon-linkedin-squared"></h3>
            </a>
        </li>
        </ul>
    </div>

    @* Links rápidos direita *@
    <div orientation="right" class="side_linkrapido d-none d-mb-block d-lg-block">
        <ul class="social_link">
        <li class="d-flex">
            <a href="mailto:contato@petersonmacedo.com.br" aria-label="Whatsapp" target="_blank" rel="noopener noreferrer">
            contato@petersonmacedo.com.br
            </a>
        </li>
        </ul>
    </div>

    @* Imagem Peterson *@
    <div class="bg-holder d-none d-lg-block img-hero"></div>

    <div class="container position-relative">
        <div class="row align-items-center min-vh-75 my-lg-7">
        <div class="col-md-12 col-lg-7 text-start py-5 mt-3 px-lg-6 ">
            <h5 class="text-black">Olá! Meu nome é</h5>
            <h1 class="myname fs-1 fw-lighter text-black">Peterson Macedo</h1>
            <p class="fs-5 resume-about-me">
                Tenho 29 anos de idade e trabalho como 
                <span class="fw-bold">Desenvolvedor Web PHP Full Stack.</span> 
                À cerca de 8 anos ajudo pequenas empresas e agências a dar vida às suas ideias, criando 
                <span class="fw-bold">sites, e-commerces, blogs, landing pages e sistemas web.</span>
            </p>
            <p><i><small class="mt-4 mb-5 text-muted">Aqui estão algumas tecnologias e habilidades das quais tenho tido experiência:</small></i></p>
            <div class="skills-content">
                <div class="badge bg-light p-1">POO</div>
                <div class="badge bg-light p-1">SOLID</div>
                <div class="badge bg-light p-1">Scrum</div>
                <div class="badge bg-light p-1">Kanban</div>
                <div class="badge bg-light p-1">PMI</div>
                <div class="badge bg-light p-1">HTML</div>
                <div class="badge bg-light p-1">CSS/SCSS</div>
                <div class="badge bg-light p-1">Bootstrap</div>
                <div class="badge bg-light p-1">JavaScript</div>
                <div class="badge bg-light p-1">Jquery</div>
                <div class="badge bg-light p-1">Vue</div>
                <div class="badge bg-light p-1">Angular</div>
                <div class="badge bg-light p-1">PHP PSR-4</div>
                <div class="badge bg-light p-1">Java Spring Boot</div>
                <div class="badge bg-light p-1">JSON</div>
                <div class="badge bg-light p-1">XML</div>
                <div class="badge bg-light p-1">Laravel</div>
                <div class="badge bg-light p-1">Wordpress/Woocommerce</div>
                <div class="badge bg-light p-1">Magento</div>
                <div class="badge bg-light p-1">Wordpress theme</div>
                <div class="badge bg-light p-1">Woocommerce Checkout customization</div>
                <div class="badge bg-light p-1">payment method integration</div>
                <div class="badge bg-light p-1">Magento module</div>
                <div class="badge bg-light p-1">Git</div>
                <div class="badge bg-light p-1">Github</div>
                <div class="badge bg-light p-1">Gitlab</div>
                <div class="badge bg-light p-1">API RESTful</div>
                <div class="badge bg-light p-1">Swagger</div>
                <div class="badge bg-light p-1">Postman</div>
                <div class="badge bg-light p-1">PostgreSql</div>
                <div class="badge bg-light p-1">MySQL</div>
                <div class="badge bg-light p-1">SQL</div>
                <div class="badge bg-light p-1">noSQL</div>
                <div class="badge bg-light p-1">AWS</div>
                <div class="badge bg-light p-1">GCP</div>
                <div class="badge bg-light p-1">Linux</div>
                <div class="badge bg-light p-1">Apache</div>
                <div class="badge bg-light p-1">Nginx</div>
                <div class="badge bg-light p-1">Docker</div>
                <div class="badge bg-light p-1">VsCode</div>
                <div class="badge bg-light p-1">Intellij</div>
                <div class="badge bg-light p-1">PHPStorm</div>
            </div>
        </div>
        </div>
    </div>
</section>

<section class="py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="about-caption mb-5">
                    <h3 class="fw-bold pb-3 title text-center text-black">Um Sobre a minha formação</h3>

                    <div class="row-cols-lg-1 row-cols-md-2">
                        <div class="col offset-lg-1 col-lg-10 offset-md-1 col-md-10">
                            <div class="card hover-top my-3 mx-1">
                                <div class="card-body">
                                    <h6 class="card-title">Universidade Estadual de Goiás</h6>
                                    <h5 class="card-title text-black">Pós graduação Lato Sensu em Gestão de Tecnologia de Informação</h5>
                                    <p class="card-subtitle mb-4 text-muted"><small>Cursando</small></p>                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-cols-lg-1 row-cols-md-2">
                        <div class="col offset-lg-1 col-lg-10 offset-md-1 col-md-10">
                            <div class="card hover-top my-3 mx-1">
                                <div class="card-body">
                                    <h6 class="card-title">Universidade Estadual de Goiás</h6>
                                    <h5 class="card-title text-black">Bacharelado em Tecnologia de Redes de Computadores</h5>
                                    <p class="card-subtitle mb-4 text-muted"><small>Concluído em 2014</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-caption mb-5">
                    <h3 class="fw-bold pb-3 title text-center text-black">Um resumo das minhas experiências</h3>
                    <div class="row-cols-lg-1 row-cols-md-2">
                        <div class="col offset-lg-1 col-lg-10 offset-md-1 col-md-10">
                            <div class="card hover-top my-3 mx-1">
                                <div class="card-body">
                                    <p class="badge bg-info float-end">2022</p>
                                    <h5 class="card-title text-black">BRQ / Associação Grupo Boticário</h5>
                                    <p class="card-subtitle mb-4 text-muted"><small>DE MAIO DE 2021 ATÉ MARÇO DE 2022</small></p>
                                    <h6 class="card-title">Desenvolvedor PHP Sênior</h6>
                                    <div class="row pt-2 border-top">
                                        <p>Desenvolvedor PHP, focado em criar, manter e melhorar módulos, plugins e funcionalidades de um ecommerce da
                                        plataforma Magento.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col offset-lg-1 col-lg-10 offset-md-1 col-md-10">
                            <div class="card hover-top my-3 mx-1">
                                <div class="card-body">
                                    <p class="badge bg-info float-end">2021</p>
                                    <h5 class="card-title text-black">Freelancer</h5>
                                    <p class="card-subtitle mb-4 text-muted"><small>DE NOVEMBRO DE 2019 ATÉ MAIO DE 2021</small></p>
                                    <h6 class="card-title">Desenvolvedor PHP Pleno Full Stack</h6>
                                    <div class="row pt-2 border-top">
                                        <p>Como prestador de serviço, atuei em vários projetos de desenvolvimento de software, atendendo pequenas empresas
                                            com o desenvolvimento, principalmente, de sites institucionais e ecommerces.
                                        </p>
                                        <p>Alguns cliente:</p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><small>Simples MEI (simplesmei.com)</small></li>
                                            <li class="list-group-item"><small>Metal Plan (grupometalplan.com.br)</small></li>
                                            <li class="list-group-item"><small>JS Prata (jsprata.com.br)</small></li>
                                            <li class="list-group-item"><small>Gaaf Moda Praia (gaafmodapraia.com.br)</small></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col offset-lg-1 col-lg-10 offset-md-1 col-md-10">
                            <div class="card hover-top my-3 mx-1">
                                <div class="card-body">
                                    <p class="badge bg-info float-end">2021</p>
                                    <h5 class="card-title text-black">N1 Supplements</h5>
                                    <p class="card-subtitle mb-4 text-muted"><small>DE NOVEMBRO DE 2019 ATÉ FEVEREIRO DE 2021</small></p>
                                    <h6 class="card-title">Desenvolvedor PHP Pleno Full Stack</h6>
                                    <div class="row pt-2 border-top">
                                        <p>
                                            Contratado no formato PJ, full home office. Focado no desenvolvimento e testes de landing pages e checkouts utilizando Wordpress / Woocommerce.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col offset-lg-1 col-lg-10 offset-md-1 col-md-10">
                            <div class="card hover-top my-3 mx-1">
                                <div class="card-body">
                                    <p class="badge bg-info float-end">2019</p>
                                    <h5 class="card-title text-black">TS Comercial Importadora</h5>
                                    <p class="card-subtitle mb-4 text-muted"><small>DE OUTUBRO DE 2016 ATÉ NOVEMBRO DE 2019</small></p>
                                    <h6 class="card-title">Desenvolvedor PHP Pleno</h6>
                                    <div class="row pt-2 border-top">
                                        <p>
                                            Desenvolvedor PHP, focado na criação de sites, blogs e ecommerces utilizando Wordpress / Woocommerce.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col offset-lg-1 col-lg-10 offset-md-1 col-md-10">
                            <div class="card hover-top my-3 mx-1">
                                <div class="card-body">
                                    <p class="badge bg-info float-end">2016</p>
                                    <h5 class="card-title text-black">Oasis Fotografia</h5>
                                    <p class="card-subtitle mb-4 text-muted"><small>DE JANEIRO DE 2013 ATÉ OUTUBRO DE 2016</small></p>
                                    <h6 class="card-title">Desenvolvedor Front end</h6>
                                    <div class="row pt-2 border-top">
                                        <p>
                                            Desenvolvimento front end utilizando HTML, CSS, Jquery, Angular e PHP.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-caption mb-5 text-center text-black">
                    <p>Tenho paixão pelo que faço. A cada projeto um novo desafio.</p>
                </div>
            </div>
        </div>
    </div>
</section>