@model PrevisaoClimaViewModel
@{
    Layout = null;
}
<div class="col-12">
    <h5 class="title pt-3 pb-2">Previsão de clima os próximos dias:</h5>
</div>
<div class="week-temp-content row-cols-sm-1 row-cols-1 row-cols-md-2 row-cols-lg-5 row text-center">
    @foreach (var item in Model.PrevisaoClimaWeek) {
        <partial name="_PrevisaoClimaWeek" for="@item" />
    }
</div>


